{% extends 'base.html.twig' %}

{% block title %}

    {{ title  }}

{% endblock %}

{% block stylesheets %}
    <style rel="stylesheet" href="acceuil_infirmier"></style>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <button onclick="window.location.href = '/';" type="button" class="btn btn-secondary">Retour</button>
        </div>
        <div class="col-md align-self-center"><h2>Accueil</h2></div>

    </div>
</div>
<div class="container">
    <p><h4> Listes des patients </h4></p>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table width="100%" class="table-primary">
            <thead>
            <tr>
                <th scope="col">Nom du patient</th>
                <th scope="col"><p>Options</p></th>
                <th scope="col">
                    <div class="right-text-pad">
                        <button onclick="window.location.href = '/ajout/patient';" type="button" class="btn btn-secondary">Ajouter</button>
                    </div>
                </th>

            </tr>
            </thead>
                <tbody>
                {% for patients in tableauPatients %}
                    <tr>
                        <td>{{ patients.nom }}</td>
                        <td>
                            <button onclick="window.location.href='/modification/patient/{{ patients.id }}';" type="button" class="btn btn-secondary">Modifier</button>
                            <button onclick="window.location.href='/confirme/delete/patient/{{ patients.id }}';" type="button" class="btn btn-secondary">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
        </table>

    </div>

</div>

    <div class="container">
        <p><h4> Listes des services</h4></p>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table width="100%" class="table-primary">
                <thead>
                <tr>
                    <th scope="col">Nom du service</th>
                    <th scope="col"><p>Options</p></th>
                    <th scope="col">
                        <div class="right-text-pad">
                            <button onclick="window.location.href = '/ajout/service';" type="button" class="btn btn-secondary">Ajouter</button>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for services in tableauServices %}
                    <tr>
                        <td>{{ services.label }}</td>
                        <td>
                            <button onclick="window.location.href='/modification/service/{{ services.id }}';"type="button" class="btn btn-secondary">Renommer</button>
                            <button onclick="window.location.href='/confirme/delete/service/{{ services.id }}';" type="button" class="btn btn-secondary">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

    <div class="container">
        <p><h4> Listes des lits </h4></p>


            <table width="100%" class="table-primary table-wrapper-scroll-y my-custom-scrollbar">
                <thead>
                <tr>
                    <th scope="col">Numéro du lit</th>
                    <th scope="col"><p>Options</p></th>
                    <th scope="col">
                        <div class="right-text-pad">
                            <button onclick="window.location.href = '/ajout/lit';" type="button" class="btn btn-secondary">Ajouter</button>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for lits in tableauLits %}
                    <tr>
                        <td>Lit n°{{ lits.numero }} Chambre n°{{ lits.chambre }}</td>
                        <td>
                            <button onclick="window.location.href='/modification/lit/{{ lits.id }}';" type="button" class="btn btn-secondary">Modifier</button>
                            <button onclick="window.location.href='/confirme/delete/lit/{{ lits.id }}';" type="button" class="btn btn-secondary">Supprimer</button>

                            {% if lits.etat == true %}
                                <label>OUI</label>
                             {% else %}
                                 <label>NON</label>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>







{% endblock %}
